@model IEnumerable<GameCatalog.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h1>Game Catalog</h1>

<button class="add-game-button">
    <a asp-action="Create">+</a>
</button>
<div id="gameList">
    <!-- Render the game list using the partial view -->
    @await Html.PartialAsync("_GameList", Model)
</div>

